# Code alongs - Python fundamentals 1 基础

In [2]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [7]:
age = int(input("Give me your age: "))
print(f"In five years you are {age + 5} age year old")

In five years you are 18 age year old

In [5]:
# In Jupyter notebook: sista raden alltid skrivs ut.  
# In Jupyter notebook: the __repr__ of the object instance is outputted for the last line.
# # dunder rapper： “double underscore”（双下划线），比如 __init__, __str__ 或 __call__ 等。
# tuple

age, type(age)

('apple', str)

In [12]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [13]:
print(f"{loves_math = }")

loves_math = True

## Collections

- list
- tuples
- sets
- dictionary

In [27]:
# list of one data type only
interests = ["badmintion", "yoga", "math", "programming"]

# list of mixed data types
person = ["Jie", 33, True]

person

['Jie', 33, True]

In [15]:
interests

['badmintion', 'yoga', 'math', 'programming']

In [17]:
type(person), type(person[1])

(list, int)

### Slicing and Indexing

In [18]:
interests[1: 3]   # 第1 个， 第2个

['yoga', 'math']

In [21]:
interests[-1], interests[::-1]  # 反转

('programming', ['programming', 'math', 'yoga', 'badmintion'])

In [25]:
interests

['badmintion', 'yoga', 'math', 'programming']

In [28]:
person.append(interests)
person

['Jie', 33, True, ['badmintion', 'yoga', 'math', 'programming']]

In [31]:
person[-1][-2]

'math'

In [30]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [32]:
person_interests = person[-1]
person_interests[-2]

'math'

### Iterate over lists

## pythonic - idomatic python

"Pythonic" 是指符合 Python 编程语言的最佳实践和风格的代码。它强调代码的简洁、可读性、易懂性和表达力。所谓“Pythonic”，就是要遵循 Python 社区中的一些约定和习惯，使得代码符合 Python 的风格标准（例如，PEP 8）。

“Idiomatic Python” 是另一个类似的概念，指的是使用 Python 编程语言的推荐方式来编写代码，而不是使用不太符合语言特色的编程风格。

In [36]:
# pythonic - idomatic python
for interest in person_interests:
    print(interest)

# Java: 
# for (int i = 0; i < person_interests.length; i++){
#     System.out.println(person_interests[i])
# }

print("\nDon't do this")
for i in range(len(person_interests)):
    print(person_interests[i])

badmintion
yoga
math
programming

Don't do this
badmintion
yoga
math
programming

In [38]:
# not pythonic
for i in range(len(person_interests)):
    print(i+1,person_interests[i])

1 badmintion
2 yoga
3 math
4 programming

In [39]:
# pythonic
for i, interest in enumerate(person_interests):
    print(i+1, interest)

1 badmintion
2 yoga
3 math
4 programming

### List creation

- append
- list comprehension

In [42]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
[i**3 for i in numbers]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
# i % 2 (the condition) is truthy when i is odd,  and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2 ]
odd_numbers_squared

[1, 9, 25, 49, 81]

## Dictionary

- key: value pairs
- curly braces 花括号

In [50]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 30,
    "visualization": 40
}
courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [51]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [52]:
len(courses.keys())

6

In [53]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [56]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modeling 30
visualization 40

In [62]:
# 加 {} 是为了：1. 插入变量或表达式。2. 指定格式化规则（比如对齐、宽度等）, <40: 表示左对齐并占用 40 个字符宽度

print(f"{'Course':<40} Points")   
for course, points in courses.items():
    print(f"{course:<40} {points}")

Course                                   Points
python                                   40
agile                                    15
sql                                      30
data_platform                            40
data_modeling                            30
visualization                            40

## Strings

In [64]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [68]:
# strip() 去掉左右两边的空格 ta bort de spacen,
# split() 用于将字符串按空白字符（默认）或指定的分隔符进行分割，并返回一个字符串列表。如果不传入参数，split() 会按照任何空白字符（如空格、制表符或换行符）将字符串分割成多个子字符串。
# " ".join() 将一个字符串列表连接成一个新的字符串，列表中的每个元素之间会插入一个空格（" "）

" ".join(ml_term.strip().split()).lower()

'supervised learning'