## 1. Working with grades data   处理成绩数据

The dataset is called betyg_o_prov_riksnivå.xlsx and found here.

  a) Draw a line chart for proportion of students that are missing approved grade for one or more subjects for the years 18-23.

  b) Examine other variable(s) of your choice and check how they affect the students grade. For example you could choose "föräldrarnas utbildningsbakgrund", parents grades.

  c) Feel free to do more EDA on this dataset.


a) 绘制 18-23 年级一个或多个科目未获得批准成绩的学生比例的折线图。
b) 检查您选择的其他变量，并检查它们如何影响学生成绩。例如，您可以选择“föräldrarnas utbildningsbakgrund”，即父母的成绩。
c) 可以随意对此数据集进行更多 EDA。

In [28]:
import pandas as pd 
import matplotlib as plt
import seaborn as sns

df = pd.read_excel("data/betyg_o_prov_riksnivå.xlsx", sheet_name=None)
df

{'Tabell 1A':               Grundskolan – Betyg och Prov – Riksnivå  \
 0
 1
 2   Tabell 1A: Elever som avslutat årskurs 9 läsår...
 3                                                 NaN
 4                           Läsår\nHuvudman\nBakgrund
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                             2018/19
 10                                            2019/20
 11                                            2020/21
 12                                            2021/22
 13                                            2022/23
 14                                              därav
 15                                             Kommun
 16                                              därav
 17                             Internationella skolor
 18                                            Enskild
 19                                              därav
 20                                  Allmän inriktning
 21                                      Konfessionell
 22                                            Waldorf
 23                             Internationella skolor
 24                         Elever med svensk bakgrund
 25                       Elever med utländsk bakgrund
 26                                              därav
 27                                    Födda i Sverige
 28                    Födda utomlands, inv. före 2014
 29              Födda utomlands, inv. 2014 el. senare
 30  Totalt exkl. nyinvandrade elever och okänd bak...
 31                                Nyinvandrade elever
 32                          Elever med okänd bakgrund
 33                    Föräldrarnas högsta utbildning2
 34                            Förgymnasial utbildning
 35                               Gymnasial utbildning
 36                          Eftergymnasial utbildning
 37                                              därav
 38                                    Kort utbildning
 39                                    Lång utbildning

                   Unnamed: 1 Unnamed: 2 Unnamed: 3      Unnamed: 4 Unnamed: 5  \
 0                        NaN        NaN        NaN             NaN        NaN
 1                        NaN        NaN        NaN             NaN        NaN
 2                        NaN        NaN        NaN             NaN        NaN
 3                        NaN        NaN        NaN             NaN        NaN
 4   Elever som avslutat åk 9        NaN        NaN             NaN        NaN
 5                     Totalt    Flickor     Pojkar    därav elever        NaN
 6                        NaN        NaN        NaN  med slutbetyg1        NaN
 7                        NaN        NaN        NaN             NaN        NaN
 8                        NaN        NaN        NaN          Totalt    Flickor
 9                     112731      54667      58064          112280      54430
 10                    115023      55670      59353          114444      55389
 11                    116359      56715      59644          115710      56394
 12                    120525      58513      62012          119891      58207
 13                    121369      59043      62326          120742      58703
 14                       NaN        NaN        NaN             NaN        NaN
 15                     96204      46478      49726           95991      46363
 16                       NaN        NaN        NaN             NaN        NaN
 17                       213        115         98               .          .
 18                     25165      12565      12600           24751      12340
 19                       NaN        NaN        NaN             NaN        NaN
 20                     23085      11511      11574           23085      11511
 21                      1036        532        504            1036        532
 22                       630        297        333             630        297
 23                       414        225        189               .          .
 24                     88383      43044      45339           88214      42961
 25                     31918      15488      16430           31488      15247
 26                       NaN        NaN        NaN             NaN        NaN
 27                     13927       6831       7096           13876       6807
 28                      6431       3078       3353            6340       3025
 29                     11560       5579       5981           11272       5415
 30                    117503      57195      60308          117044      56952
 31                      2799       1338       1461            2658       1256
 32                      1067        510        557            1040        495
 33                       NaN        NaN        NaN             NaN        NaN
 34                      6578       3197       3381            6575       3197
 35                     36842      17909      18933           36810      17893
 36                     74793      36473      38320           74283      36201
 37                       NaN        NaN        NaN             NaN        NaN
 38                     18682       9215       9467           18628       9189
 39                     56111      27258      28853           55655      27012

    Unnamed: 6               Unnamed: 7 Unnamed: 8 Unnamed: 9
 0         NaN                      NaN        NaN        NaN
 1         NaN                      NaN        NaN        NaN
 2         NaN                      NaN        NaN        NaN
 3         NaN                      NaN        NaN        NaN
 4         NaN                      NaN        NaN        NaN
 5         NaN                      NaN        NaN        NaN
 6         NaN  med godkända\nslutbetyg        NaN        NaN
 7         NaN                      NaN        NaN        NaN
 8      Pojkar                   Totalt    Flickor     Pojkar
 9       57850                   110663      53757      56906
 10      59055                   112728      54711      58017
 11      59316                   114136      55721      58415
 12      61684                   117935      57312      60623
 13      62039                   118736      57781      60955
 14        NaN                      NaN        NaN        NaN
 15      49628                    94276      45588      48688
 16        NaN                      NaN        NaN        NaN
 17          .                        .          .          .
 18      12411                    24460      12193      12267
 19        NaN                      NaN        NaN        NaN
 20      11574                    22815      11372      11443
 21        504                     1025        526        499
 22        333                      620        295        325
 23          .                        .          .          .
 24      45253                    86799      42274      44525
 25      16241                    30999      15066      15933
 26        NaN                      NaN        NaN        NaN
 27       7069                    13709       6735       6974
 28       3315                     6269       2993       3276
 29       5857                    11021       5338       5683
 30      60092                   115254      56114      59140
 31       1402                     2544       1226       1318
 32        545                      938        441        497
 33        NaN                      NaN        NaN        NaN
 34       3378                     6327       3091       3236
 35      18917                    35938      17488      18450
 36      38082                    73583      35871      37712
 37        NaN                      NaN        NaN        NaN
 38       9439                    18384       9073       9311
 39      28643                    55199      26798      28401  ,
 'Tabell 1B':               Grundskolan – Betyg och Prov – Riksnivå  \
 0
 1
 2   Tabell 1B: Resultat av slutbetyg för elever so...
 3                                                 NaN
 4                           Läsår\nHuvudman\nBakgrund
 5                                                 NaN
 6                                                 NaN
 7                                             2018/19
 8                                             2019/20
 9                                             2020/21
 10                                            2021/22
 11                                            2022/23
 12                                              därav
 13                                             Kommun
 14                                            Enskild
 15                                              därav
 16                                  Allmän inriktning
 17                                      Konfessionell
 18                                            Waldorf
 19                         Elever med svensk bakgrund
 20                       Elever med utländsk bakgrund
 21                                              därav
 22                                    Födda i Sverige
 23                    Födda utomlands, inv. före 2014
 24              Födda utomlands, inv. 2014 el. senare
 25  Totalt exkl. nyinvandrade elever och okänd bak...
 26                                Nyinvandrade elever
 27                          Elever med okänd bakgrund
 28                    Föräldrarnas högsta utbildning2
 29                            Förgymnasial utbildning
 30                               Gymnasial utbildning
 31                          Eftergymnasial utbildning
 32                                              därav
 33                                    Kort utbildning
 34                                    Lång utbildning

                                            Unnamed: 1 Unnamed: 2 Unnamed: 3  \
 0                                                 NaN        NaN        NaN
 1                                                 NaN        NaN        NaN
 2                                                 NaN        NaN        NaN
 3                                                 NaN        NaN        NaN
 4   Elever som avslutat åk 9 som fått eller skulle...        NaN        NaN
 5      Genomsnittligt meritvärde beräknat på 16 ämnen        NaN        NaN
 6                                              Totalt    Flickor     Pojkar
 7                                               221.7      234.3      209.8
 8                                               222.9      235.7      210.9
 9                                               223.9      235.4      212.9
 10                                              221.2      231.6      211.4
 11                                              220.6      229.7      211.9
 12                                                NaN        NaN        NaN
 13                                              216.1      225.6      207.2
 14                                              237.9        245      230.8
 15                                                NaN        NaN        NaN
 16                                              238.5      245.8      231.2
 17                                              225.6      230.5      220.5
 18                                              236.3        239      233.9
 19                                              227.4      236.3      219.1
 20                                                204      214.1      194.5
 21                                                NaN        NaN        NaN
 22                                              215.5      224.7      206.6
 23                                              217.4      227.6        208
 24                                              182.1      193.1      171.8
 25                                                223      232.1      214.3
 26                                              144.8        152      138.2
 27                                              133.3      133.9      132.8
 28                                                NaN        NaN        NaN
 29                                              163.8      172.2      155.8
 30                                              197.4      207.2      188.2
 31                                              239.1      247.9      230.7
 32                                                NaN        NaN        NaN
 33                                              218.9      228.4      209.7
 34                                              245.8      254.5      237.6

                                          Unnamed: 4 Unnamed: 5 Unnamed: 6  \
 0                                               NaN        NaN        NaN
 1                                               NaN        NaN        NaN
 2                                               NaN        NaN        NaN
 3                                               NaN        NaN        NaN
 4                                               NaN        NaN        NaN
 5   Genomsnittligt meritvärde beräknat på 17 ämnen3        NaN        NaN
 6                                            Totalt    Flickor     Pojkar
 7                                             229.8      243.3        217
 8                                             231.1      244.9      218.2
 9                                             232.1      244.4      220.3
 10                                            229.2      240.3      218.8
 11                                            228.5      238.2      219.3
 12                                              NaN        NaN        NaN
 13                                            223.6      233.8      214.1
 14                                            247.2      254.8      239.7
 15                                              NaN        NaN        NaN
 16                                            247.9      255.7      240.1
 17                                            233.2      238.4      227.8
 18                                            244.3      247.1      241.7
 19                                              236      245.4      227.1
 20                                            210.2        221      200.1
 21                                              NaN        NaN        NaN
 22                                              223      232.8      213.5
 23                                            224.8      235.8      214.7
 24                                            186.1      197.7      175.1
 25                                            231.1      240.9      221.7
 26                                            146.2      153.6      139.3
 27                                            135.2      135.8      134.6
 28                                              NaN        NaN        NaN
 29                                            166.8      175.6      158.3
 30                                            203.2      213.6      193.3
 31                                            248.6      258.1      239.6
 32                                              NaN        NaN        NaN
 33                                            226.5      236.6      216.6
 34                                              256      265.3      247.2

                                            Unnamed: 7 Unnamed: 8 Unnamed: 9
 0                                                 NaN        NaN        NaN
 1                                                 NaN        NaN        NaN
 2                                                 NaN        NaN        NaN
 3                                                 NaN        NaN        NaN
 4                                                 NaN        NaN        NaN
 5   Andel (%) elever som saknar godkänt betyg i et...        NaN        NaN
 6                                              Totalt    Flickor     Pojkar
 7                                                24.5       21.7       27.2
 8                                                23.9       21.4       26.3
 9                                                23.9       21.9       25.9
 10                                               25.9       24.2       27.5
 11                                               26.8       25.5         28
 12                                                NaN        NaN        NaN
 13                                               28.9       27.4       30.3
 14                                               18.7       18.4         19
 15                                                NaN        NaN        NaN
 16                                                 18       17.7       18.3
 17                                               29.4       29.5       29.4
 18                                               25.6       25.3       25.8
 19                                               21.4       20.5       22.2
 20                                               40.2       37.8       42.5
 21                                                NaN        NaN        NaN
 22                                               32.6       30.8       34.3
 23                                                 32       29.8         34
 24                                               54.3       51.1       57.2
 25                                               25.2         24       26.4
 26                                                 75       72.9         77
 27                                               77.9       79.8       76.1
 28                                                NaN        NaN        NaN
 29                                               63.5       61.5       65.3
 30                                               37.4       35.2       39.5
 31                                               16.8       16.1       17.5
 32                                                NaN        NaN        NaN
 33                                               26.1       24.5       27.5
 34                                               13.7       13.3       14.1  ,
 'Definitioner':       Förklaringar och definitioner till tabell 1 A–B Unnamed: 1 Unnamed: 2  \
 0                                                 NaN        NaN        NaN
 1                          * Elever som avslutat åk 9        NaN        NaN
 2                                     - Totalt antal         NaN        NaN
 3                                                 NaN        NaN        NaN
 4                                                 NaN        NaN        NaN
 ..                                                ...        ...        ...
 83                                                NaN        NaN        NaN
 84  Ytterligare information om uppgifterna finns k...        NaN        NaN
 85                                                NaN        NaN        NaN
 86                    Närmast föregående publicering:        NaN        NaN
 87                                                NaN        NaN        NaN

     Unnamed: 3  Unnamed: 4                                         Unnamed: 5
 0          NaN         NaN                                                NaN
 1          NaN         NaN                                                NaN
 2          NaN         NaN  Antal elever som har avslutat årskurs 9, dvs. ...
 3          NaN         NaN  såväl det mål- och kunskapsrelaterade betygssy...
 4          NaN         NaN  bedömningssystem och elever som lämnat grundsk...
 ..         ...         ...                                                ...
 83         NaN         NaN                                                NaN
 84         NaN         NaN                                                NaN
 85         NaN         NaN                                                NaN
 86         NaN         NaN  Grundskolan - Betyg och prov - Läsår 2021/22 -...
 87         NaN         NaN                             Skolverkets webbplats.


In [49]:
# 取每个sheet 作为一个 DataFrame
df_a = pd.read_excel("data/betyg_o_prov_riksnivå.xlsx", sheet_name='Tabell 1A')
df_b = pd.read_excel("data/betyg_o_prov_riksnivå.xlsx", sheet_name='Tabell 1B')
df_b

,Grundskolan – Betyg och Prov – Riksnivå,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tabell 1B: Resultat av slutbetyg för elever so...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Läsår\nHuvudman\nBakgrund,Elever som avslutat åk 9 som fått eller skulle...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Genomsnittligt meritvärde beräknat på 16 ämnen,NaN,NaN,Genomsnittligt meritvärde beräknat på 17 ämnen3,NaN,NaN,Andel (%) elever som saknar godkänt betyg i et...,NaN,NaN
6,NaN,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
7,2018/19,221.7,234.3,209.8,229.8,243.3,217,24.5,21.7,27.2
8,2019/20,222.9,235.7,210.9,231.1,244.9,218.2,23.9,21.4,26.3
9,2020/21,223.9,235.4,212.9,232.1,244.4,220.3,23.9,21.9,25.9
10,2021/22,221.2,231.6,211.4,229.2,240.3,218.8,25.9,24.2,27.5
11,2022/23,220.6,229.7,211.9,228.5,238.2,219.3,26.8,25.5,28
12,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Kommun,216.1,225.6,207.2,223.6,233.8,214.1,28.9,27.4,30.3
14,Enskild,237.9,245,230.8,247.2,254.8,239.7,18.7,18.4,19
15,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Allmän inriktning,238.5,245.8,231.2,247.9,255.7,240.1,18,17.7,18.3
17,Konfessionell,225.6,230.5,220.5,233.2,238.4,227.8,29.4,29.5,29.4
18,Waldorf,236.3,239,233.9,244.3,247.1,241.7,25.6,25.3,25.8
19,Elever med svensk bakgrund,227.4,236.3,219.1,236,245.4,227.1,21.4,20.5,22.2
20,Elever med utländsk bakgrund,204,214.1,194.5,210.2,221,200.1,40.2,37.8,42.5
21,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Födda i Sverige,215.5,224.7,206.6,223,232.8,213.5,32.6,30.8,34.3
23,"Födda utomlands, inv. före 2014",217.4,227.6,208,224.8,235.8,214.7,32,29.8,34
24,"Födda utomlands, inv. 2014 el. senare",182.1,193.1,171.8,186.1,197.7,175.1,54.3,51.1,57.2
25,Totalt exkl. nyinvandrade elever och okänd bak...,223,232.1,214.3,231.1,240.9,221.7,25.2,24,26.4
26,Nyinvandrade elever,144.8,152,138.2,146.2,153.6,139.3,75,72.9,77
27,Elever med okänd bakgrund,133.3,133.9,132.8,135.2,135.8,134.6,77.9,79.8,76.1
28,Föräldrarnas högsta utbildning2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Förgymnasial utbildning,163.8,172.2,155.8,166.8,175.6,158.3,63.5,61.5,65.3
30,Gymnasial utbildning,197.4,207.2,188.2,203.2,213.6,193.3,37.4,35.2,39.5
31,Eftergymnasial utbildning,239.1,247.9,230.7,248.6,258.1,239.6,16.8,16.1,17.5
32,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Kort utbildning,218.9,228.4,209.7,226.5,236.6,216.6,26.1,24.5,27.5
34,Lång utbildning,245.8,254.5,237.6,256,265.3,247.2,13.7,13.3,14.1

In [58]:
df_b = df_b.rename(
    {
        "Unnamed: 7": "percentage",
        "Grundskolan – Betyg och Prov – Riksnivå": "year",
        "Unnamed: 8": "girls",
        "Unnamed: 9": "boys"
    },
    axis=1,
)
df_fail = df_b.iloc[7:12, [0, 7, 8, 9]]
df_fail

       year percentage girls  boys
7   2018/19       24.5  21.7  27.2
8   2019/20       23.9  21.4  26.3
9   2020/21       23.9  21.9  25.9
10  2021/22       25.9  24.2  27.5
11  2022/23       26.8  25.5    28

In [46]:
df_b.columns

Index(['Grundskolan – Betyg och Prov – Riksnivå', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'percentage',
       'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')